@* Layout Page for Twitter Bootstrap Modal Dialogs *@
<div class="modal fade" id="modal-container" tabindex="-1" role="dialog"
     aria-labelledby="@ViewBag.ModalId@Html.Raw("label")" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            
        </div>
    </div>
</div>
